* {
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
 }

 /*element selectors*/ 

body {
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 100%;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  font-family: "Georgia", sans-serif;
}


/*link selectors */
a.nav-main {
  float: left;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .02em;
  color: #999;
  padding: 1em 1.2em;
  margin: .5em;
  border: 1px solid rgb(127, 0, 0);
  background-color: white;
}

a.nav-book {
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .02em;
  color: #999;
  padding: 1em 1.2em;
  margin: .5em;
  border: 1px solid rgb(127, 0, 0);
  display: inline-block;
}

/*classes*/

.background-image {
	margin: 0;
	background: url(http://www.kasterine.com/cMk/mld_images/home_01.jpeg) no-repeat 0 fixed #99cc99;
	background-size: cover;
  background-position: left top; 
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  width: 100%;
}

.home-img {
  	display: block;
  	margin: 0 auto;
}

.home-logo {
	width: 30%;
	height: auto;
}

.home-panel {
	background-color: white;
	position: relative;
  margin:  0 auto;
  text-align: justify;
  padding: 3em 3em 6em 3em;
	width: 40%;
  height: auto;
}

.txt-logo {
text-align: center;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*psuedo elements*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size:0;
  content: " ";
  clear: both;
  height: 0;
}
