@import url('https://fonts.googleapis.com/css?family=Asul|Open+Sans:300i,400,400i,700');

* {
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
 }

}
body {
  color: #333;
  font-family: 'Open Sans', sans-serif;  font-size: 100%;
}

nav {
  float: right;
  /*padding-top: 2em;*/
}

nav a{
  /*margin:20px;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .02em;
  text-decoration: none;
  color: #ff6633;
  padding: 1em;
  border-top: 1px solid #6699cc;
  border-bottom: 1px solid #6699cc;
  background-color: #ffffff;
  float: left;
}


nav a:hover {
  color: #ffffff;
  background-color: #6699cc;
}

nav-home {
  float: right;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  color: #333333;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

label {
  display: none;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: initial;
  font-weight:300;
  text-transform: none;
  color: #333333;
}

/*link selectors */
a.logo-txt-pages {
  font-family: 'Asul', serif;
  color: #333333;
  text-align: left;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  width: 85%;
  text-decoration: none;
}

a.logo-txt-pages:hover {
color: #333333;
}

a.logo-txt-pages-mld {
  font-family: 'Asul', serif;
  color: #009933;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

a.logo-txt-pages-mld:hover {
    color: #009933;
    text-decoration: none;
}

a.nav-book {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  display: block;
  text-decoration: none;
  letter-spacing: .02em;
  text-align: center;
  color: #ff6633;
}

a.nav-book:hover {
  color: #6699cc;
}

a.nav-main {
  font-family: 'Open Sans', sans-serif;
  float: left;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .02em;
  text-decoration: none;
  color: #ff6633;
  padding: 1em 2em;
  border-top: 1px solid #6699cc;
  border-bottom: 2px solid #6699cc;
  background-color: white;
}

a.nav-main:hover {
  color: #ffffff;
  background-color: #6699cc;
}

/*delete*/
a.nav-pages {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .02em;
  text-decoration: none;
  color: #ff6633;
  padding: 1em;
  border-top: 1px solid #6699cc;
  border-bottom: 1px solid #6699cc;
  background-color: #ffffff;
  float: left;
}
/*end delete*/

a.nav-pages:hover {
  color: #ffffff;
  background-color: #6699cc;
}

/*classes*/
.background-image {
	margin: 0;
	background: url(http://www.kasterine.com/cMk/mld_images/home_01.jpeg) no-repeat 0 fixed #99cc99;
	background-size: cover;
  background-position: left top; 
}

.bar{
  width:25px;
  height:4px;
  margin:2px;
  background-color:red;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-pages {
  padding: 1em 4em;
}

.copyright {
  font-family: serif;
  font-size: .8em;
  text-align:center;
  padding: 3em 0;
}

.header-home {
  font-weight: 600;  
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.header-pages {
  font-family: 'Asul', serif;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: #009933;
  margin: 1em 0 0 0;
}

.header-sub-pages {
  font-weight: 600;  
  color: #333333;
  text-align: left;
}

.img-home {
    width: 100%;
    height: auto;
  	display: block;
  	margin: 0 auto;
}

.img-home-mob {
    width: 50%;
    height: auto;
    display: none;
    margin: 0 auto;
}

.img-info {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0 3em 2em;
}

.img-info-social {
    width: 25%;
    float: left;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0 3em 2em;
}

.img-treatment {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.list-pages {
  width: 52%;
  margin: 0 auto;
}

.logo-txt-home-mld {
  color: #009933;
  font-size: 2.3em;
  text-transform: uppercase;
}

.logo-img-home {
  width: 60%;
  height: auto;
  display: block;
  padding: .7em;
  margin: 0 auto;
}

.logo-pages {
  float: right;
  width: 100%;
  height: auto;
}

.logo-txt-home {
  font-family: 'Asul', serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}

.logo-float-pages {
  float: left;
  padding: 1em 0 0 1em;
}

.logo-txt-sub-pages {
  text-align: left;
  font-size: 1.2em;
  padding: 0 0 1em;
}

.nav-float-pages {
  float: right;
  padding-top: 2em;
}

.panel-home {
  background-color: #ffffff;
  position: relative;
  margin:  0 auto;
  width: 45%;
  height: auto;
  padding: 1em;
}

.no-padding-home {
  padding: 0;
}

.site {
  background-color: green;
}

.tag-home {
  font-family: 'Asul', serif;
  font-size: 1.2em;
  font-weight: 400;  
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-pages {
  margin: 0 0 1em 0;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.bkground-pages {
background-color: white; 
padding: 0 1em;
}

.mld-player {
  width:100%;
  padding: 0;
}

.mld-player iframe {
  width: 1000px;
  height: 563px;
}

.mld-player-750 {
  display: none;
  visibility: hidden;
  width: 100%;
  text-align: center;
}

.mld-player-750 iframe{
  width: 750px;
  height: 422px;
}

.mld-player-500 {
  display: none;
  visibility: hidden;
  width: 100%;
  text-align: center;
}

.mld-player-500 iframe{
  width: 500px;
  height: 281px;
}

.mld-player-400 {
  display: none;
  visibility: hidden;
}

.mld-player-400 iframe{
  width: 400px;
  height: 225px;
}

/*ids*/
#header-pages-lc {
    text-transform: none;
}

#logo-txt-sub {
    text-align: center;
    font-size: 1.2em;
}

#toggle {
  display:block;
}

/*psuedo elements*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size:0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 1006px) 
{
  nav a {
    letter-spacing: normal;
    padding: .7em;
  }

  /*delete*/
  a.nav-pages {
    letter-spacing: normal;
    padding: .7em;
  }
  /*end delete*/

  .header-pages {
    font-size: 1.3em;
  }

  .list-pages {
    width: 80%;
  }

  .logo-pages {
    float:none;
    width: 75%;
  }

  .mld-player {
    display: none;
    visibility: hidden;
  }

  .mld-player-750 {
    display: block;
    visibility: visible;
 }
}

@media only screen and (max-width: 905px) 
{
  .logo-pages {
    display: none;
  }
}

@media only screen and (max-width: 754px) 
{ 
nav a {
    padding: 0 2em 2em 0;
    border-top: 0px;
    border-bottom: 0px;
  }

  nav a:hover {
    color: #6699cc;
    background-color: #ffffff;
    text-decoration: underline;
}

/*delete*/
  a.nav-pages {
    padding: 0 2em 2em 0;
    border-top: 0px;
    border-bottom: 0px;
  }

  a.nav-pages:hover {
    color: #6699cc;
    background-color: #ffffff;
    text-decoration: underline;
}
/* end delete*/

 .nav-float-pages {
    float: left;
    padding: 0 0 0 1em;
  }

  .mld-player-750 {
    display: none;
    visibility: hidden;
  }

  .mld-player-500 {
    display: block;
    visibility: visible;
  }

  .panel-home {
    width: 60%;
  }

}

@media only screen and (max-width: 600px)
{
  li {
    list-style: none;
  }

  label {
  display: block;
  width: 87.9%;
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: 800;
  /*padding: 1em;*/
  color: #333;
  }

  nav {
    display: none;
  }
  nav a{
    padding: .5em;
    border-top: 0;
    border-bottom: 0;
    width: 100%;
    display: block;
    /*text-align: center;*/
}
  a.logo-txt-pages-mld {
    font-size: 1.5em;
  }

  .logo-txt-sub-pages {
    font-size: 1em;
    text-align: center;
  }

  a.nav-main {
    float: none;
    display: block;
    /*position: fixed;*/
    border-top: #ffffff;
    border-bottom: #ffffff;
    padding:.5em 4em;
    background: #ffffff;
/*    text-align:center;
*/  }

  a.nav-pages {
    padding: 0 .8em 1em 0;
  }

  .container-pages {
    padding: .5em 0;
  }

  .copyright {
    padding: 1em 0;
  }

  .header-pages {
    font-size: 1.1em;
    text-align: left;
  }

  .img-home {
    display: none; 
  }

  .img-home-mob {
    display: block; 
  }

  .list-pages{
    width: 100%;
  }
  
  .logo-float-pages {
    float: none;
    /*margin-bottom: 1em;*/
    text-align: center;
  }

  .logo-txt-sub-pages {
    padding: 0;
  }

  .logo-img-home {
    display: none; 
  }

  .mld-player-500 {
    display: none;
    visibility: hidden;
  }

  .mld-player-400 {
    display: block;
    visibility: visible;
  }

  .panel-home {
    width: 100%;
  }

  .tag-home {
    display:none;
  }
  
  #logo-txt-sub {
    font-size: 1em;
  }

  #toggle:checked + nav {
      width: 100%;
      display: block;
      clear: both;
      text-align: center;
  }
}


