@import url('https://fonts.googleapis.com/css?family=Asul|Open+Sans:300i,400,400i,700');

* {
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
 }

}
body {
  color: #333;
  font-family: 'Open Sans', "Helvetica", "Arial", sans-serif; 
  font-size: 100%;
}

label {
  display: none;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-size: initial;
  font-weight:300;
  text-transform: none;
  color: #333333;
}

nav {
  float: right;
  padding: 0 0 0 1em;
}

nav a{
  margin: 2em 0 0 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .02em;
  text-decoration: none;
  color: #ff6633;
  padding: 1em;
  border-top: 1px solid #6699cc;
  border-bottom: 1px solid #6699cc;
  background-color: #ffffff;
  float: left;
}

nav a:hover {
  color: #ffffff;
  background-color: #6699cc;
}

nav-home {
  float: right;
}

p {
  font-family: 'Open Sans', "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  color: #333333;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

/*link selectors */
a.contact {
  font-family: serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .05em;
  color: #999;
  text-decoration: none;
}

a.contact:hover {
  text-decoration: underline;
}

a.logo-txt-pages-mld {
  font-family: 'Asul', serif;
  color: #009933;
  font-size: 2em;
  text-transform: uppercase;
  text-decoration: none;
}

a.logo-txt-pages-mld:hover {
    color: #009933;
    text-decoration: none;
}

a.logo-txt-pages {
  font-family: 'Asul', serif;
  color: #333333;
  text-align: left;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0;
  width: 85%;
  text-decoration: none;
}

a.logo-txt-pages:hover {
color: #333333;
}

a.nav-book {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
  display: block;
  text-decoration: none;
  letter-spacing: .02em;
  text-align: center;
  color: #ff6633;
}

a.nav-book:hover {
  color: #6699cc;
}

a.nav-main {
  font-family: 'Open Sans', sans-serif;
  float: left;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .02em;
  text-decoration: none;
  color: #ff6633;
  padding: 1em 2em;
  border-top: 1px solid #6699cc;
  border-bottom: 2px solid #6699cc;
  background-color: white;
}

a.nav-main:hover {
  color: #ffffff;
  background-color: #6699cc;
}

/*delete after updating all pges*/
a.nav-pages {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  letter-spacing: .02em;
  text-decoration: none;
  color: #ff6633;
  padding: 1em;
  border-top: 1px solid #6699cc;
  border-bottom: 1px solid #6699cc;
  background-color: #ffffff;
  float: left;
}

a.nav-pages:hover {
  color: #ffffff;
  background-color: #6699cc;
}

/*end delete*/

/*classes*/
.background-image {
	margin: 0;
	background: url(http://www.kasterine.com/cMk/mld_images/home_01.jpeg) no-repeat 0 fixed #99cc99;
	background-size: cover;
  background-position: left top; 
}

.background-image-pages {
  margin: 0;
  background: url(http://www.kasterine.com/cMk/mld_images/home_01.jpeg) no-repeat 0 fixed #99cc99;
  background-size: cover;
  background-position: left top; 
}

.background-clr-pages {
  background-color: #ffffff; 
  padding: 0 1em;
}


.bar {
  width:25px;
  height:4px;
  margin:2px;
  background-color:red;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-pages {
  padding: 1em 4em;
}

.copyright {
  font-family: serif;
  font-size: .8em;
  text-align:center;
  padding: 2em 0 0 0;
}


a.site {
  color: #333333;
  font-family: serif;
  font-size: .8em;
  text-align: center;
  display: block;
/*  padding: 3em 0;*/
  text-decoration: none;
}

a.site:hover {
  color: #666666;
  text-decoration: underline
}

.header-home {
  font-weight: 600;  
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.header-pages {
  font-family: 'Asul', serif;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  color: #009933;
  margin: 1em 0 0 0;
}

.header-sub-pages {
  font-weight: 600;  
  color: #333333;
  text-align: left;
}

/*.pic-home {
  width: 30%;
  height: auto;
}
*//*erin*/
/*.pic-home img {
  width:100%;
  display: block;
  padding: .7em;
  margin: 0 auto;*/
}

/*needles*/
/*.pic-home-02 {
    width: 50%;
    height: auto;
    display: none;
    margin: 0 auto;
}*/

.img-info {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0 3em 2em;
}

.img-info-social {
    width: 25%;
    float: left;
    height: auto;
    display: block;
    margin: 0 auto;
    padding: 0 3em 2em;
}

.img-treatment {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.list-pages {
  width: 70%;
  margin: 0 auto;
}

.logo-float-pages {
  float: left;
  padding: 1em 0 0 1em;
}

.logo-pages {
  float: right;
  width: 100%;
  height: auto;
  padding: 0 0 1em 0;
}

.logo-txt-home {
  font-family: 'Asul', serif;
  text-align: center;
  font-weight: 400;
  font-size: 2.1em;
  line-height: normal;
}

.logo-txt-home-mld {
  color: #009933;
  font-size: 2.1em;
  text-transform: uppercase;
}

.logo-txt-sub-pages {
  text-align: left;
  font-size: 1.2em;
  padding: 0 0 1em;
}

.mld-player {
  width:100%;
  padding: 0;
}

.mld-player iframe {
  width: 1000px;
  height: 563px;
}

.mld-player-750 {
  display: none;
  visibility: hidden;
  width: 100%;
  text-align: center;
}

.mld-player-750 iframe{
  width: 750px;
  height: 422px;
}

.mld-player-500 {
  display: none;
  visibility: hidden;
  width: 100%;
  text-align: center;
}

.mld-player-500 iframe{
  width: 500px;
  height: 281px;
}

.mld-player-380 {
  display: none;
  visibility: hidden;
}

.mld-player-380 iframe{
  width: 380px;
  height: 214px;
}

/*.mld-player-343 {
  display: none;
  visibility: hidden;
}

.mld-player-343 iframe{
  width: 343px;
  height: 193px;
}*/

.mld-player-288 {
  display: none;
  visibility: hidden;
}

.mld-player-288 iframe{
  width: 288px;
  height: 162px;
}

/*delete after pages updated
*/.nav-float-pages {
  float: right;
  padding-top: 2em;
}
/*end delete*/

/*.no-padding-home {
  padding: 0;
}
*/
.panel-home {
  background-color: #ffffff;
  position: relative;
  margin:  0 auto;
  width: 45%;
  height: auto;
  padding: 1em;
}

.panel-home img{
  width: 80%;
  display: block;
  margin: 0 auto;
}

.panel-logo {
  background-color: #ffffff;
  position: relative;
  margin:  0 auto;
  width: 45%;
  height: auto;
  padding: 1em;
}

.panel-logo img {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
}

/*.site {
  background-color: green;
}*/

.tag-home {
  font-family: 'Asul', serif;
  font-size: 1.2em;
  font-weight: 400;  
  color: #333333;
  text-align: center;
  text-transform: capitalize;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.text-pages {
  margin: 0 0 1em 0;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*ids*/
#header-pages-lc {
    text-transform: none;
    display: inline;
}

#list-dates {
  display: inline;
}

#logo-txt-sub {
    text-align: center;
    font-size: 1.2em;
}

#toggle {
  display: none;
}

/*psuedo elements*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size:0;
  content: " ";
  clear: both;
  height: 0;
}

@media only screen and (max-width: 1006px) 
{
  nav a {
    letter-spacing: normal;
    padding: .7em;
  }

  /*delete*/
  a.nav-pages {
    letter-spacing: normal;
    padding: .7em;
  }
  /*end delete*/

  .header-pages {
    font-size: 1.3em;
  }

  .list-pages {
    width: 84%;
  }

  .logo-pages {
    float: none;
    width: 75%;
  }

  .mld-player {
    display: none;
    visibility: hidden;
  }

  .mld-player-750 {
    display: block;
    visibility: visible;
 }
}

@media only screen and (max-width: 920px) 
{
  .logo-pages {
    display: none;
  }
}


@media only screen and (max-width: 902px) 
{
/*  .logo-txt-home {
    font-size: 1.9em;
  }*/

  .logo-txt-home-mld {
    font-size: 2.1em;
  }

  .panel-home {
    width: 50%;
  }

  .panel-logo {
    width: 50%;
  }
}

@media only screen and (max-width: 788px) 
{ 
  .panel-home {
    width: 65%;
  }

  .panel-logo {
    width: 65%;
  }
}

@media only screen and (max-width: 770px) 
{ 
/*  nav {
    width: 100%;
  }*/

/*  nav a {
    padding: 0 2em 2em 0;
    border-top: 0px;
    border-bottom: 0px;
  }*/

  nav a:hover {
    color: #6699cc;
    background-color: #ffffff;
    text-decoration: underline;
  }

  a.logo-txt-pages {
    font-size: 1.5em;
  }

  a.logo-txt-pages-mld {
    font-size: 1.5em;
  }

/*delete after updating pages*/
  a.nav-pages {
    padding: 0 2em 2em 0;
    border-top: 0px;
    border-bottom: 0px;
  }

  a.nav-pages:hover {
    color: #6699cc;
    background-color: #ffffff;
    text-decoration: underline;
  }
/* end delete*/

  nav {
    display: none;
  }

  nav a {
    width: 100%;
    display: block;
    padding: .4em;
    border-top: 0;
    border-bottom: 0;
  }
  
  label {
    display: block;
    width: 87%;
    text-align: center;
    margin: 0 auto 1em;
    font-family: sans-serif;
    font-weight: 800;
    color: #333333;
  }

 .logo-float-pages {
    float: none;
    text-align: center;
  }

  .logo-txt-sub-pages {
    font-size: .9em;
    text-align: center;
  }

  .mld-player-750 {
    display: none;
    visibility: hidden;
  }

  .mld-player-500 {
    display: block;
    visibility: visible;
  }

/*delete after pages updated
*/
  .nav-float-pages {
    float: left;
    padding: 0 0 0 1em;
  }
/*end delete
*/  

/*.panel-home {
    width: 55%;
  }*/
 
/*  #logo-txt-sub {
    font-size: 1em;
  }*/

  #toggle:checked + nav {
    width: 100%;
    display: block;
    clear: both;
    text-align: center;
    border: solid 1px grey;
    margin: 1em 0;
    line-height: .4em;
    padding: 0 0 1em 0;
  }
}

@media only screen and (max-width: 605px)
{
  .panel-home {
    width: 68%;
  }

  .panel-logo {
    width: 68%;
  }
}
@media only screen and (max-width: 600px)
{
  li {
    list-style: none;
  }

  a.nav-main {
    float: none;
    display: block;
    border-top: #ffffff;
    border-bottom: #ffffff;
    padding:.5em 2em;
    background: #ffffff;
  }

  a.nav-pages {
    padding: 0 .8em 1em 0;
  }

  .background-image-pages {
    background: transparent;
  }

  .container-pages {
    padding: .5em 0;
  }

  .copyright {
    padding: 1em 0 0 0;
  }

  .header-pages {
    text-align: left;
  }

  .list-pages{
    width: 100%;
  }
  
  .logo-float-pages {
    float: none;
    text-align: center;
  }

  .logo-txt-sub-pages {
    padding: 0;
  }

  .panel-home {
    width: 100%;
    padding: .2em;
  }

  .panel-home img {
    width: 70%;
    padding: 1em 0 0 0;
  }

  .panel-logo {
    width: 100%;
    padding: .5em;
  }

  .panel-logo img {
    display: none;
  }

  .tag-home {
    display:none;
  }
}

@media only screen and (max-width: 520px)
{
.mld-player-500 {
    display: none;
    visibility: hidden;
  }

  .mld-player-380 {
    display: block;
    visibility: visible;
    text-align: center;
  }

  #header-pages-lc {
    display: none;
  }
}

@media only screen and (max-width: 400px)
{
  .logo-txt-home {
    font-size: 1.6em;
  }

  .mld-player-380 {
    display: none;
    visibility: hidden;
  }

  .mld-player-288 {
    display: block;
    visibility: visible;
    text-align: center;
  }

  a.logo-txt-pages-mld {
    font-size: 1.5em;
  }

  #logo-txt-sub {
    font-size: 1em;
    margin: 0 0 1em;
  }

  #list-dates {
  display: none;
  }
}


