
@import url(https://fonts.googleapis.com/css?family=Asul);


* {
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
 }

 /*element selectors*/ 

body {
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 100%;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  font-family: "Georgia", sans-serif;
}


/*link selectors */
a.nav-main {
  font: Helvetica, Arial;
  float: left;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .02em;
  text-decoration: none;
  color: #009933;
  padding: 1em 2em;
  /*margin: .5em;*/
  border-top: 1px solid #006633;
  border-bottom: 1px solid #006633;
  background-color: white;
  box-shadow: 80px 40px 80px #006633;
}

a.nav-main:hover {
  color: #ffffff;
  background-color: #006633;
  /*text-decoration: underline;*/
}

a.nav-book {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  letter-spacing: .02em;
  color: #009933;
  /*padding: 1em;
  margin: .5em;*/
  /*border: 1px solid rgb(127, 0, 0);*/
  display: inline-block;
}

a.nav-book:hover {
  color: #0066cc;
/*  text-decoration: underline;
*/}

/*classes*/

.background-image {
	margin: 0;
	background: url(http://www.kasterine.com/cMk/mld_images/home_01.jpeg) no-repeat 0 fixed #99cc99;
	background-size: cover;
  background-position: left top; 
}

.container {
  display: flex;
  justify-content: center;
}

.nav-main-container {
  display: flex;
  justify-content: center;
}

.nav-main-center {
  width: 100%;
}

.home-img {
  	display: block;
  	margin: 0 auto;
}

.home-logo {
	width: 45%;
	height: auto;
}

.home-panel {
	background-color: white;
	position: relative;
  margin:  0 auto;
  text-align: justify;
  padding: 2em;
	width: 45%;
  height: auto;
}

.txt-logo {
  font-family: 'Asul', serif;
  text-align: center;
  font-size: 1.5em;
}

.txt-logo-mld {
color: #009933; 
text-transform: uppercase;

}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*psuedo elements*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size:0;
  content: " ";
  clear: both;
  height: 0;
}
