@import url(https://fonts.googleapis.com/css?family=Amiri:400);


* {
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
 }
 
 /*element selectors*/ 
header {
  padding: .5em .5em 1.5em;
  background-color: #fff;
  width:100%;
}

body {
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 100%;
}

label {
  display: none;
}

nav {
  float: right;
  margin: 2em 0 0;
}

h1 { 
  font-size: 1.1em;
  font-weight: 900;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #333;
  text-align: left;
  text-decoration: none;
  clear:both;
}

h2 { 
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1.5em;
  color: #333;
}

hr {
  clear:both;
  margin: 0 auto;
  border: 0;
  height: .09em;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }

p {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
  font-family: "Georgia", sans-serif;
}

/*link selectors */
a.active-page {
  color: #333;
  float: left;
}

a.contact {
  font-family: serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .05em;
  color: #999;
  text-decoration: none;
}

a.contact:hover {
  text-decoration: underline;
}

a.nb-citation {
  color: #003399;
  font-style: inherit;
  font-size: .9em;  
  text-decoration: none;
  float: right;
}

a.nb-citation:hover {
  font-style: inherit;
  text-decoration: underline;
}

a.nb-directions {
  color: #003399;
  font-style: inherit;
  text-decoration: none;
}

a.nb-directions:hover {
  font-style: inherit;
  text-decoration: underline;
}

a.inline {
  font-size: 1em;
  line-height: 1.5em;
  color: #003399;
  font-family: "Georgia", sans-serif;
  text-decoration: none;
}

a.inline:hover{
  font-style: inherit;
  text-decoration: underline;
}

a.logo {
  float: left;
  font-family: 'Amiri', serif;
  font-weight: 400; 
  font-size: 2em; 
  color: #333;
  letter-spacing: .05em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5em 0;
}

a.logo:hover {
  text-decoration: none;
}

a.nav-link {
  float: left;
  text-decoration: none;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .02em;
  color: #999;
  padding: 1em 1.2em;
  margin: .5em;
}

a.nav-link:hover {
  text-decoration: underline;
}

a.sub {
  float:left;
  font-family: "Georgia", "Times", serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #333;
  text-decoration: none;
  padding: .5em 1.5em;
  margin: .25em;
}

a.sub:hover {
  text-decoration: underline;
  color: #333;
}

a.sub-link {
width:20%;
text-decoration: none;
font-family: sans-serif;
font-size: 1em;
text-align: center;
font-weight: 800;
padding: 0 1em 2em;
color: #333;
float:left;
}

a.sub-link:hover {
  text-decoration: underline;
}

/*classes*/
.copyright {
  color: #999;
  font-size: 1em;
}

.current-page {
  margin: 1em 1em 0;
  display: inline;
  color: #333;
  float: left;
}

.gallery-text {
  width: 60%; 
  margin: auto;
  text-align: justify;
}

.gallery-text p{
  padding: 0 0 1em 0;
}

.g01-lft-squares {
  width: 60%;
}

.g01-lft-squares img{
  width: 50%;
  height: auto;
  float: left;
  padding: .5em;
}

.g01-rght-rect {
  float: right;
  width: 40%;
  margin: 0;
}

.g01-rght-rect img {
 width: 98%;
 height: auto;
 float: left;
 padding: .5em;
}

.g02-row {
  width:100%;
  margin: 0 auto;
}

.g02-row img {
  width: 25%;
  height: auto;
  float: left;
  padding: .5em;
}

.g03-col-sq {
  width: 33%;
  float:left;
}

.g03-col-sq img {
  width: 50%;
  height: auto;
  padding: .5em;
  float: left;
}

.g03-col-02 {
  width: 34%;
  float:left;
  text-align: center;
}

.g03-col-02 img {
  width: 100%;
  height: auto;
  padding: .5em;
  float: left;
}

.g03-row-a {
  clear:both;
  width:100%;
  text-align: center;
}

.g03-row-a img {
  width:25%;
  height: auto;
  padding: .5em;
  float:left;
}

.g03-row-b{
  width:100%;
}

.g03-row-b img {
  width:33.3%;
  height: auto;
  padding: .5em;
  float:left;
}

.g04-col {
  width: 32%;
  float: left;
}

.g04-col img {
  width: 50%;
  float: left;
  padding: .5em;
}

.g04-col-last {
  width: 36%;
  float: right;
}

.g04-col-last img {
  width: 100%;
  height: auto;
  padding: .5em;
  float:left;
}

.g04-rows {
  clear:both;
  width:100%;
  text-align: center;
}

.g04-rows img {
  width:25%;
  height: auto;
  padding: .5em;
  float: left;
}

.g05-col {
  width:20%;
  float:left;
}

.g05-col img {
  width:100%;
  height: auto;
  padding: .5em;
}

.g05-col-last {
  width:20%;
  float:left;
}

.g05-col-last img {
  width:100%;
  height: auto;
  padding: .5em;
}

.g05-row {
  width: 100%;
}

.g05-row img {
  width: 25%;
  height: auto;
  padding: .5em;
  float: left;
}

.home-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.home-imgtitle {
  font-family: serif;
  float: right;
  color: #999;
  font-size: 1em;
  letter-spacing: .02em;
  margin: 0 1em;
}

.info-photo-sm {
  clear: both;
  width: 38%;
  height: auto;
  float: left;
  margin: 0 .6em;
  padding: .25em;
  background-color: #666;
}

.info-txt {
  width: 60%;
  text-align: left;
  float: right;
  padding: 0 4em;
}

.info-txt p{
  padding: 0 0 1em 0;
}

.info-txt-contact{
  width: 60%;
  text-align: justify;
  float: right;
  padding: 0 4em 1em;
}

.info-txt-wide {
  clear: both;
  width: 70%;
  text-align: justify;
  padding: 2em 1em;
}

.info-txt-wide p{
  padding: 0 0 1em 0
}

.nav-bot-align {
  width: 56%;
  margin: 2em auto;
  display:block;
}

.nb-photo-sm {
  width: 40%;
  height:auto;
  border: .1em #333 solid;
  float: left;
  margin: 0 1em;
}

.nb-photo-filmstill {
  width:100%;
  margin: 0 auto;
}

.nb-photo-filmstill img {
  width:33%;
  height: auto;
  float: left;
  padding: .5em;
}

.nb-player {
  width:100%;
  padding: 0 1em;
}

.nb-player iframe {
  width: 1000px;
  height: 563px;
}

.nb-player-750 {
  display: none;
  visibility: hidden;
  width: 100%;
  text-align: center;
}

.nb-player-750 iframe{
  width: 750px;
  height: 422px;
}

.nb-player-500 {
  display: none;
  visibility: hidden;
  width: 100%;
  text-align: center;
}

.nb-player-500 iframe{
  width: 500px;
  height: 281px;
}

.nb-txt {
  width: 50%;
  text-align: justify;
  float: right;
  padding: 2.5em;
}

.nb-txt p {
   padding: 0 0 1em 0;
}

.nb-txt-wide {
  width: 70%;
  text-align: justify;
  padding: 2em;
  margin: 0 auto;
}

.nb-txt-wide p {
   padding: 0 0 1em 0;
}

.nb-wall {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border: .1em #666 solid;
}

.ns-padding {
  padding: 0 0 1em;
}

.page-footer {
  width: 100%;
  margin: 0 1em;
  float: left;
  padding: 1.5em 0;
}

.photo-page-small {
  font-family: serif;
  font-weight: 400;
  font-size: .7em;
}

.sitedesign {
  float: left;
  margin: 0 1.2em;

}
.sub-active {
  font-size: .7em;
  text-decoration: none;
}

.sub-mobile {
display:none;
}

.txt-i {
  font-style: italic;
  letter-spacing: .03em
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*psuedo elements*/
.clearfix:after {
  height: 0;
  font-size:0;
  visibility: hidden;
  display: block;
  content:" ";
  clear: both;
}

/*IDs*/
#emphasis {
  font-style: italic;
}

#toggle {
  display: none;
}

#gallery-list {
  display: block;
  padding: 1em 0;
  clear:both;
}

#g02-barrow {
  width: 100%;
  height: auto;
  padding:.5em;
}

#g03-col-rect {
width: 100%;
float:left;
padding: .5em;
}

#g04-col-lg-sq {
width: 100%;
float:left;
}

#padding-citation {
  padding: 1em 0;
}

#sub-link-active{
  color: #0033ff;
}

/*tablets and phones*/
/*nav, image, video breakpoint*/
@media only screen and (max-width: 990px) 
{
  h1 {
    font-size: 1em;
    line-height: 2em;
  }

  nav {
    margin: 0;
    float: left;
    margin: 0 .4em;
  }

   a.logo {
    letter-spacing: normal;
    display:block;
    padding: 1em 0 .5em 0;
    margin: 0 1em;
  }

  a.nav-link {
    float: none;
    padding: 1em 1.2em;
    margin: .5em;
  }

  .info-photo-sm {
    width: 35%;
    height: auto;
    margin: 2em 0 0 3em;
  }

  .info-txt {
    float: right;
    width: 58%;
    padding: 0 1em; 
  }

  .info-txt p {
    padding: 0;
  }

  .info-txt-contact {
    text-align: left;
    padding: 2em;
  }

.info-txt-wide {
    width: 75%;
    padding: 0 3em;
}

 .nb-photo-sm {
    width: 50%;
    float: none;
    display: block;
    margin: 0 auto;
  }

 .nb-photo-filmstill {
    width:85%;
    margin: 0 auto;
  }

  .nb-player-750 {
    display: block;
    visibility: visible;
  }

  .nb-player {
    display: none;
    visibility: hidden;
  }

 .nb-txt {
    width: 70%;
    float: none;
    padding: 0;
    margin: .5em auto 2em;
  }

  .nb-txt-wide {
    padding: 0;
    margin: .5em auto 2em;
  }

  .nb-wall {
    width: 85%;
  }

  a.sub {
    padding: .5em 1.4em;
    font-size:1.2em;
    }

  a.nav-link {
    letter-spacing:normal;
  } 

  .sub-active {
    font-size: .4em;
  }

  .nav-bot-align {
      width:  100%;
    }
}

@media only screen and (max-width: 960px) {
  .info-photo-sm {
    display: none;
    visibility: hidden;
  }
 
  .info-txt {
    float:none;
    padding: 0 2.5em;
    text-align: left;
    width: 75%;
  }

  .info-txt-contact {
    float: none;
    padding: 0 0 1em 2.5em;

  }

 .info-txt-wide {
    width: 95%;
    padding: 1em 2.5em;
  }

  .page-footer {
  padding: 0 1.5em;
  }
}

/*image breakpoints*/
@media only screen and (max-width: 670px) {

.g01-lft-squares {
  width: 100%;
  }

.g01-rght-rect {
  float: none;
  width: 100%;  
  }

.g01-rght-rect img {
  width: 100%;
  }

.g02-row {
  width: 100%;
  }

.g02-row img {
  width: 50%;
  padding: .5em;
  }

.g03-col-sq {
  width: 100%;
 }

 .g03-col-sq img {
  width: 50%;
}

.g03-col-02 {
  width: 100%;
 }

.g03-col-02 img {
  width: 100%;
 }

.g03-row-a {
  clear: none;
  width: 100%;
 }

.g03-row-a img {
  width: 50%;
 }

.g03-row-b {
  width: 100%;
 }

.g03-row-b img {
  width: 100%;
 }

.g04-col {
  width: 50%;
  }

.g04-col img {
  width: 100%;
}

.g04-col-last {
  width:98%;
  float:none;
  margin: auto;
  }

.g04-rows img {
  width: 50%;
 }

.g05-row img {
  width: 50%;
  }

.g05-col {
  width: 33%
  }

.g05-col-last {
  width:50%;
  float:left;
  }

#g03-col-rect {
  width: 100%;
  float: none;
 }

 #g02-barrow {
  width: 100%;
  }
}

/*dropdown menu*/
@media only screen and (max-width: 645px) {
  label {
  display: block;
  width: 87.9%;
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  font-weight: 800;
  padding: 1em;
  color: #333;
  }

  nav {
    display: none;
  }

  h1 {
    font-size: 1em;
  }

 h2 {
    font-size: .9em;
  }

  .info-txt {
    width: 95%;
  }

  .info-txt-contact {
    width: 90%;
  }

 .info-txt-wide {
   text-align: left;
  }

  a.contact {
    font-size: .9em;
  }

   a.logo {
    width:100%;
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #fff;
  }

  a.nav-link {
    display: block;
    width: 90%;
    font-size: 1em;
    color:#333;
    text-align: center;
    background-color: #CCCFD2;
    margin: auto;
  } 

  a.nb-citation {
    float: none;
  }

  a.sub {
    display: none;
  }
  
  .copyright {
    font-size: .8em;
  }

  .gallery-text {
    width: 73%;
    text-align: left;
  }
  
  .home-imgtitle {
    visibility: hidden;
    display:none;
  }

  .nav-mobile {
    display: none;
  }

  .nb-photo-filmstill {
    width:90%;
  }

  .nb-photo-filmstill img {
    width:90%;
    float:none;
    margin:auto;
    display:block;
  }

  .nb-photo-sm {
    width: 70%;
  }

  .nb-player-750 {
    visibility: hidden;
    display: none;
  }

  .nb-player-500 {
    display: block;
    visibility: visible;
  }

  .nb-txt {
    text-align: left;
  }

  .nb-txt-wide  {
    text-align: left;
  }

  .page-footer {
  padding: 0;
  margin: 0 auto;
  text-align: center;
  }
  
  .sitedesign {
    visibility: hidden;
    display:none;
  }

  .sub-mobile {
    width: 90%;
    margin: auto;
    display: block;
    background-color: #CCCFD2;
  }

  #toggle:checked + nav {
      display: block;
      clear:both;
      float: none;
  }
}
