@import url(https://fonts.googleapis.com/css?family=Amiri:400);


* {
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
 }
 
 /*element selectors*/ 
header {
  padding: .5em .5em 1.5em;
  background-color: #fff;
  width:100%;
}

body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  text-align: left;
  line-height: 1.5em;
  /*text-align: justify;*/
}

nav {
  float: right;
}

h1 { 
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: .02em;
  text-transform: uppercase;
  color: #333;
  padding: 1em 0 0;
  width:100%;
}

h2 { 
  font-size: 1em;
  font-weight: 400;
  letter-spacing: .02em;
  color: #666;
  /*padding: 0 3.2em;*/
  width:100%;
}


p {
  font-size: 1em;
  line-height: 1.5em;
  margin: .5em 1.5em;
}

/*link selectors*/ 
a.contact {
  font-size: 1em;
  color: #999;
  text-decoration: none;
}

a.contact:hover {
  color: #666;
  text-decoration: underline;
}

a.nb-citation {
  color: #003399;
  font-style: inherit;
  font-size: .9em;  
  text-decoration: none;
  float: right;
}

a.nb-citation:hover {
  color: #003399;
  font-style: inherit;
  text-decoration: underline;
}

a.nb-directions {
  color: #003399;
  font-style: inherit;
/*  font-size: .9em;*/  
  text-decoration: none;
}

a.nb-directions:hover {
  color: #003399;
  font-style: inherit;
  text-decoration: underline;
}

a.logo {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  display: inherit;
  text-decoration: none;
}

a.logo:hover {
  text-decoration: none;
}

a.nav {
  float: left;
  text-decoration: none;
  font-weight: 400;
  color: #999;
  margin: 1em 1em 0;
}

a.nav:hover {
  text-decoration: underline;
}

a.sub {
  color: #333;
  text-decoration: none;
}

a.sub:hover {
  text-decoration: underline;
  color: #333;
}

/*element classes*/ 
img.g05-row-a {
  float: left;
  width: 20%;
  margin: 1em 0 0 0;
  padding: 0 .5em 0;
}

img.g05-row-b {
  float: left;
  width: 20%;
  padding: .5em .5em 0;
}

li.photo {
  display: inline;
  padding: 0 3em 0 0;
  font-family: "Georgia", "Times", serif;
  font-weight: 400;
  font-size: 1.3em;
}

li.photo-page {
  display: inline-block;
  padding: 1em 4em 0 .8em;
  font-family: "Georgia", "Times", serif;
  font-weight: 400;
  font-size: 1.3em;
  color: #333;
}

/*classes*/
.copyright {
  /*text-decoration: none;*/
  width:100%;
  float: left;
  color: #999;
  font-size: 1em;
  margin: 0;
}

.current-page {
  margin: 1em 1em 0;
  display: inline;
  color: #333;
  float: left;
}

.gallery-text p {
  width: 40em; 
  padding: 1em 0;
  margin: 0 auto;
}

.gallery-text p {
  font-size: 1.1em; 
  text-align: justify;
}

/*v2 Gallery 1 styles*/
.g01-lft-squares {
  width: 60%;
}

.g01-lft-squares img{
  float: left;
  width: 50%;
  height: auto;
  padding: 0 1.5% 3%;
}

.g01-rght-rect {
  float: right;
  width: 40%;
  margin: 0;
}

.g01-rght-rect img {
  width: 98%;
  height: auto;
}
/* end v2 Gallery 1 code*/

.g02-row {
  width:100%;
}

.g02-row img {
  width: 23%;
  height: auto;
  float: left;
  margin: 0 1% 1.5%;
}

.g03-row {
  width:100%;
  float: left;
}

.g03-row img {
  margin: 1em 1.5em 0 1em;  
}

.g04-col-01 {
  width: 33%;
  float:left;
/*background-color: #00FF89;*/
}

.g04-col-01 img {
  width: 49%;
}

.g04-col-02 {
  width: 34%;
  float:left;
  display: block;
  margin: auto 0;
/*background-color: red;*/
}

.g04-col-02 img {
  width: 96%;
  height: auto;
  margin: .5%;
}

.g04-col-03 {
  width: 33%;
  float:right;
/*background-color: #B5A627;
*/}

.g04-col-03 img {
  width: 49%;
/*  margin: 0;
*/}

.g04-rows {
  clear:both;
  width:100%;
  /*background-color: green;*/
  text-align: center;
}

.g04-rows img {
  width:24.67%;
  height: auto;
  /*margin: 0 .5% 0 0;*/
}
/*.g04-row-1-sm {
  float: left;
  margin: 1em 1em 0;
}

.g04-row-2-sm-01 {
  float: left;
  margin: -12em 40em 0 1em;
}

.g04-row-2-sm-02 {
  float: left;
  margin: -1.2em 1em 0;
}

.g04-row-2-sm-03 {
  float: left;
  margin: -12em 40em 0 1em;
}

.g04-row-2-sm-04 {
  float: left;
  margin: -20.2em 0 0 40.8em;
}

.g04-row-2-sm-05 {
  float: left;
  margin: -9.4em 0 0 40.8em;
}

.g04-row-2-sm-06 {
  float: left;
  margin: -20.2em -60em 0 52em;
}

.g04-row-1-rect {
  float: left;
  margin: 1em 0 0;
}

.g04-row-2-rect {
  float: left;
  margin: -6.7em 0 0 22.7em;
  }

.g04-row-3-01 {
  float: left;
  margin: 1.5em 0 0 -38.8em;
  }

.g04-row-3-02 {
  float: left;
  margin: 1.5em 0 0 1em;
  }

.g04-row-4-01 {
  float: left;
  margin: 1.6em 0 0 .5em;
  }

.g04-row-4-02 {
  float: left;
  margin: 1.6em 0 0 .5em;
  }

.g04-row-4-03 {
  float: left;
  margin: 1.6em 0 0 .5em;
  }

.g04-row-4-04 {
  float: left;
  margin: 1.6em 0 0 .5em;
}*/

.home-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.home-imgtitle {
  font-family: serif;
  font-style: italic;
  float: right;
  color: #999;
  font-size: 1em;
}

.logo {
  font-family: 'Amiri', serif;
  font-weight: 400; 
  font-size: 2em; 
  color: #333;
  letter-spacing: .05em;
  display: inline;
  text-transform: uppercase;
  margin: 1em 0 0;
}

.nav-bot-align {
  display: block;
  width: 55%;
  padding: 2.5em 0;
  margin: 0 auto;
}

/*.nb-book {
  width: 35%;
  height:auto;
  margin: 1em 0 0;
  }*/

/*.nb-pge-bkgrnd {
  background-color: #fff;
  width:100%;
}*/

/*.nb-pge-colr {
  background-color: #333;
}*/

.nb-photo {
  width: 100%;  
}

.nb-photo img{
  width: 33.3%;
  height: auto;
  padding: 1em;
  float:left;

}

.nb-player {
  width:100%;
/*  background-color: #333;
*/}

.nb-txt {
  color:#333;
  background-color: #fff;
  padding: .5em 2em;
}

/*.nb-txt-rght {
  width: 64%;
  float: right;
}*/

.nb-wall-center {
  width: 100%;
  padding: 1em 1em 0;
}

.page-footer {
  width: 100%;
  margin: 0 auto;
  float: left;
  padding: 10px;
}

.photo-page-small {
  font-family: serif;
  font-weight: 400;
  font-size: .7em;
}

.txt-i {
  font-style: italic;
  letter-spacing: .03em
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/*psuedo elements*/
.clearfix:after {
  height: 0;
  font-size:0;
  visibility: hidden;
  display: block;
  content:" ";
  clear: both;
}

/*IDs*/
#g02-barrow {
  width: 99%;
  height: auto;
  margin:auto;
  display: block;
/*  margin: 0 2% auto;*/
}

#g04-col-lg-sq {
width: 100%;

}

/*#g04-js {
/*float: right;*/
/*margin: 51% 2%;
}*/

/*#g04-dh {*/
/*float: right;*/
/*margin: 1% 1%;
}*/


#g04-ag {
float: right;
}

#g05-row-b-03 {
  margin: -4em 0 0;
}

#g05-row-b-04 {
  margin: -8em 0 0;
}

#g05-row-b-14 {
  margin: -5em 0 0 .01em;
}

#g05-row-b-15 {
  margin: -5em 0 0;
}

#g05-row-b-16 {
  margin: -4em 0 0;
}

#g05-row-b-22 {
  margin: -12em 0 0;
}

/*tablets and phones*/
@media only screen and (max-width: 992px) 
{
  .logo {
    letter-spacing: normal;
  }

  nav {
    float: left;
  } 

  a.nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    width: 100%;
    height: 100%;
    background-color: #666;
    color:#fff;
    padding: 1.5em 3em 1.5em;
    margin: .05em 0;
  }

.current-page {
    text-align: center;
    font-size: 1.5em;
    font-weight: 800;
    width: 100%;
    height: 100%;
    color:#666;
    background-color: #999;
    padding: 1.5em 3em 1.5em;
    margin: .05em 0;
  }

  .g04-col-01 {
  width: 100%;
  float:none;
  }

  .g04-col-02 {
  width: 100%;
  float:none;
  }

  .g04-col-03 {
  width: 100%;
  float:none;
  }

  .g04-rows {
  width: 100%; 
  }

   .g04-rows img{
  width: 49%; 
  }

}